[core]
	editor = vim
	
[user]
	name = Thomaso
	email = github@thomaso.otherinbox.com
[alias]
	hist-all = "log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --graph --decorate --all"
	
	hist = "log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --graph --decorate"
	b = branch
	ba = branch -a
	stat = status
	co = checkout

[push]
	default = current

[diff]
	tool = vimdiff

[color]
	UI = auto
[color "branch"]
	current = green bold
	local = green
	remote = red bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

