[core]
	editor = vim
	
[user]
	name = Thomaso
	email = github@thomaso.otherinbox.com
[alias]
	history-all = "log --pretty=format:\"%C(yellow)%h %Creset%s%d [%an|%ad]\" --graph --date=short --all" 
	history = "log --pretty=format:\"%C(yellow)%h %Creset%s%d [%an|%ad]\" --graph --date=short"
	hist = "log --pretty=format:\"%C(yellow)%h %Creset%s%d [%an|%ad]\" --graph --date=short"
	b = branch
	ba = branch -a
	stat = status
	co = checkout

[push]
	default = current

[diff]
	tool = vimdiff

[color]
	UI = auto
[color "branch"]
	current = green bold
	local = green
	remote = red bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

